* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-family: sans-serif;
}

#body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.color-name {
  width: 80%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.681);
  color: white;
  padding: 0.6rem;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid white;
}

.btn {
  padding: 0.5rem;
  min-width: 200px;
  background-color: rgb(58, 58, 246);
  border: 1px solid white;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  cursor: pointer;
}